body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: darkturquoise;
}
p {
    color: gray;
}
h1, {
    color: brown;
    text-align: left;
}
h3 {
    color: red;
}
hr {
    color: blue;
}